[user]
	name = ProjectCBL
	email = projectxcbl@gmail.com
[http]
	postBuffer = 157286400
[alias]
	co = checkout
[init]
	defaultbranch = main
[include]
	path = ~/.gitconfig.local
[safe]
	directory = /home/projectcbl/dotfiles
	directory = /home/projectcbl/dotfiles/nvim
